<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BeforeSuite Annotation Demo">
    <test name="BeforeSuiteAnnotation">
        <classes>
            <class name="com.java.annotations.before.after.suite.TestClass1"/>
            <class name="com.java.annotations.before.after.suite.TestClass2"/>
            <class name="com.java.annotations.before.after.suite.TestClass3"/>
        </classes>
    </test>
</suite>