server.port: 9000
spring.profiles.active: localhost

---
spring:
  profiles: localhost
  kafka:
    template:
      default-topic: topic-1
    producer:
      #bootstrap-servers: localhost:9092 ##, localhost:9093, localhost:9094
      bootstrap-servers: localhost:29092
      batch-size: 25000
      key-serializer: org.apache.kafka.common.serialization.IntegerSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    admin:
      properties:
        #bootstrap.servers: localhost:9092 ##, localhost:9093, localhost:9094
        bootstrap.servers: localhost:29092
        